
.booking{
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    position: sticky;
    top: 80px;
    width: 25rem;
}

.booking_top h3{
    font-size: 2rem;
    font-weight: 700;
}

.booking_top h3 span{
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
}

.booking_top span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}

.booking_top span i{
    color: var(--secondary-color);
}

.booking_top{
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(229, 231, 235);
}

.booking_form{
    padding-top: 2rem;
}

.booking_form h5{
    margin-bottom: 1rem;
}

.booking_form input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--heading-color);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(229, 231, 235);
}

.booking_form input:focus{
    outline: none;
}

.booking_info-form{
    padding: 1rem;
    border: 1px solid rgb(229, 231, 235);
}

.btn.btn1 {
    background-color: #faa935;
    border: 1px solid #353977;
    width: 100%;
    padding: 12px 28px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.btn.btn1:hover {
    background-color: #353977;
    transform: translateX(-3px);
}

.booking_bottom li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking_bottom li h5,
.booking_bottom li span{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 700;
}

.booking_bottom{
    margin-top: 1rem;
}

.total h5,
.total span{
    color: var(--heading-color) !important;
    font-weight: 700 !important;
    font-size: 1.1rem !important;
}