
.tour_content img{
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}

.tour_info,
.tour_reviews {
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    padding: 2rem;
}

.tour_info h2{
    font-size: 1.5rem;
}

.tour_info span{
    display: flex;
    align-items: center;
    font-style: 1rem;
    gap: 0.5rem;
    color: var(--text-color);
}

.tour_info span i{
    color: var(--heading-color);
    font-size: 1.1rem;
}

.tour_extra-details{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.tour_info h5{
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.tour_info p{
    line-height: 30px;
    font-size: 1rem;
    color: var(--text-color);
}

.rating_group span{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    cursor: pointer;
}

.tour_reviews h4{
    margin-bottom: 3rem;
}

.review_input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
}

.review_input input{
    width: 100%;
    padding: 0.5rem 0;
    border: none;
}

.review_input input:focus{
    outline: none;
}

.btn.btn1 {
    background-color: #faa935;
    border: 1px solid #353977;
    padding: 12px 28px;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}
.btn.btn1:hover {
    background-color: #353977;
    transform: translateX(-3px);
}


.review_item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.review_item img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.user_reviews{
    margin-top: 2.5rem;
}

.review_item h5{
    font-size: 1rem;
    margin-bottom: 0;
}

.review_item p{
    font-size: 0.9rem;
    color: var(--text-color);
}

.review_item h6{
    font-size: 1.1rem;
    color: var(--text-color);
}

.review_item span i{
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.review_item span{
    font-weight: 500;
}